*{
    margin: 0;
    padding: 0;
}
body{
    background: url(log.jpeg) no-repeat center center fixed;
    background-size: cover;
}
.container{
    color: black;
    position: absolute;
    top: 25%;
    left: 40%;

}
.container h1{
    font-family: 'Heebo', sans-serif;
    width: 50%;
    display: inline-block;
    font-size: 40px;
    border-bottom: 5px solid darkgrey;
    margin-bottom: 15px;
    padding: 13px 0;
}
.box{
    width: 100%; 
    margin: 22px 0px;
    border-bottom: 2px solid darkgrey;
}
.box input{  
    background: none;
    width: 100%;
    padding: 5px 10px;
    font-size: 20px;
    border: none;
    outline:none;
    color: black;
}
 .btn{
    color: white;
    cursor: pointer;
    outline: none; 
    margin: 12px 0;
    padding: 10px 21px;
    border: 2px solid darkgrey;
    border-radius: 10px;
    font-size: 18px;
    background: none;
    font-weight: bold;
    
} 
.box i{ 
    width: 25px; 
    text-align: center;
}
.btn:hover{
    opacity: 0.5;
    color: darkgrey; 
    background: white; 
    
} 


html{
    scroll-behavior: smooth;
}

/* CSS Variables */
:root{
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}
.btn{
    display: flex;
    flex-direction: row;
}
.btn li a{

    text-decoration: none   ;
    font-style: normal;
}